@model RoleBasedPermission.Plugin.ViewModels.vPermissionDiscriptorEdit
<div class="row">
    <div class="col-xs-12">
        <form id="permissionForm">
            @Html.HiddenFor(a => a.SelectedRoleId)

            <ul class="perm-main-wrapper">
                @for (int p = 0; p < Model.Permissons.Count; p++)
                {
                    @Html.HiddenFor(m => Model.Permissons[p].AssemblyName)
                    @Html.EditorFor(m => Model.Permissons[p], "PermissionEditItem")
                    <ul class="perm-area-wrapper perm-child-wrapper">
                        @for (int a = 0; a < Model.Permissons[p].AreaPermissons.Count; a++)
                        {
                            @Html.EditorFor(m => Model.Permissons[p].AreaPermissons[a], "PermissionEditItem")
                            <ul class="perm-cont-wrapper perm-child-wrapper">
                                @for (int b = 0; b < Model.Permissons[p].AreaPermissons[a].ControllerPermissons.Count; b++)
                                {
                                    @Html.EditorFor(m => Model.Permissons[p].AreaPermissons[a].ControllerPermissons[b], "PermissionEditItem")
                                    <ul class="perm-act-wrapper perm-child-wrapper">
                                        @for (int i = 0; i < Model.Permissons[p].AreaPermissons[a].ControllerPermissons[b].ActionPermissons.Count; i++)
                                        {
                                            @Html.EditorFor(m => Model.Permissons[p].AreaPermissons[a].ControllerPermissons[b].ActionPermissons[i], "PermissionEditItem")
                                        }
                                    </ul>
                                }
                            </ul>
                        }
                    </ul>
                }
            </ul>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <button id="savePermissionChanges" class="btn btn-success">
            Save Changes
        </button>
    </div>
</div>


<script>
    $(document).ready(function () {
        $(".perm-wrapper.has-children").click(function () {
            $(this).next(".perm-child-wrapper").slideToggle(200);
        })
        $(".perm-wrapper.has-children input").click(function (e) {
            e.stopPropagation();
            var action = false;
            if ($(this).prop('checked') === true) {
                action = true;
            }
            var parent = $(this).parents(".perm-wrapper").next(".perm-child-wrapper").find("input").prop('checked', action);
        })
        $("#savePermissionChanges").click(function (e) {
            e.preventDefault();

            var data = JSON.stringify({
                SelectedRoleId: $("#roleSelect").val(),
                Permissions: $("#permissionForm").serialize()
            });

            $.ajax({
                url: "/Admin/RolePermission/PermissionSave",
                type: "POST",
                data: $("#permissionForm").serialize(),
                success: function (data, textStatus, jqXHR) {
                },
            });
        });
    });
</script>
