@model ModCore.ViewModels.Base.BaseViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - ModCore Admin</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/boostrap.overrides.css" />
        <link rel="stylesheet" href="~/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/admin-site.css" />
        <link href="~/css/materialdesignicons.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">

    </environment>
</head>
<body>
    <div class="body-container">
        <div class="navbar">
            <div class="fluid-container">
                <div class="navbar-container">
                    <div class="navbar-logo">
                        <div class="navbar-logo-text">
                            ModCore Admin
                        </div>

                        <a href="#" class="icon-user-nav" id="btnUserNavMenu">

                        </a>
                    </div>
                    <div class="navbar-content user-nav">
                        @if (Model.IsLoggedIn)
                        {
                            <div class="user-settings-container">
                                <a href="#">
                                    <i class="fa fa-user-circle-o user-icon" aria-hidden="true"></i>
                                    <span class="welcome-user">@Model?.UserData?.FullName</span>
                                    <i class="fa fa-angle-down icon-user-options" aria-hidden="true"></i>
                                </a>
                            </div>
                        }
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @if (Model.IsLoggedIn)
            {
                <div class="side-menu-container">
                    @Html.Partial("_Menu")
                </div>
            }
            <div class="body-wrapper">
                @if (ViewBag.Title != null && !string.IsNullOrEmpty(ViewBag.Title))
                {
                    <div class="page-tree"><h2 class="title">@ViewBag.Title</h2></div>
                }
                <div class="body-main">
                    @RenderBody()
                </div>
                <footer>
                    @*<p>&copy; 2016 - ModCore.Www</p>*@
                </footer>
            </div>
        </div>
    </div>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/admin.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">

    </environment>

    @RenderSection("scripts", required: false)
</body>

</html>
