@model ModCore.ViewModels.Access.RegisterViewModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<form action="/Admin/Account/Register" method="post" class="form-horizontal">
    @Html.AntiForgeryToken()
    <div class="panel panel-default">
        <div class="panel-title">
            Register
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-xs-12">
                    @Html.TextBoxFor(a => a.FirstName, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    @Html.TextBoxFor(a => a.LastName, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    @Html.TextBoxFor(a => a.EmailAddress, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    @Html.PasswordFor(a => a.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    @Html.PasswordFor(a => a.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </div>
        </div>
    </div>




</form>