@using ModCore.ViewModels.Access
@using ModCore.ViewModels.Core
@model vPagedResult<vUserActivity>
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutWithMenu.cshtml";
    ViewBag.Title = "User Activity";
}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-bordered table-bordered table-hover table-log">
                    <thead>
                        <tr>
                            <th>
                                Session Id
                            </th>
                            <th class="col-message">
                                User Id
                            </th>
                            <th class="col-message">
                                Route
                            </th>
                            <th>
                                InsertDate
                            </th>
                            <th>
                                Error Occured
                            </th>
                            <th>
                                LifeCycle
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var act in Model.CurrentPageResults)
                        {
                            <tr>
                                <td>
                                    @act.SessionId
                                </td>
                                <td >
                                    @act.UserId 
                                </td>
                                <td >
                                    @act.FullRoute
                                </td>
                                <td>
                                    @act.InsertDate
                                </td>
                                <td>
                                    @act.ErrorOccured
                                </td>
                                <td>
                                    @act.LifeCycle
                                </td>
                                <td>
                                    <a class="btn btn-info btn-sm" data-toggle="modal" href="/Admin/Logs/UserActivityDetails?id=@act.Id" data-target="#defaultModal">Details</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                @await Html.PartialAsync("_Pagination")
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("_DefaultModal")
