@model ModCore.ViewModels.Admin.Plugin.vPluginList
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutWithMenu.cshtml";
    ViewBag.Title = "Manage Plugins";
}

<div class="row">
    <div class="col-xs-12">
        @if (Model.PluginErrors.Any())
        {
            <div class="alert alert-danger">
                <ul>
                    @foreach (var error in Model.PluginErrors)
                    {
                        <li>@error.ErrorMessage (@error.PluginName)</li>
                    }
                </ul>
            </div>
        }
        @if (Model.PluginErrors.Any() && Model.PluginWarnings.Any())
        {
            <br />
        }
        @if (Model.PluginWarnings.Any())
        {
            <div class="alert alert-warning">
                <ul>
                    @foreach (var warn in Model.PluginWarnings)
                    {
                        <li>@warn.ErrorMessage (@warn.PluginName)</li>
                    }
                </ul>
            </div>
        }
    </div>
</div>

<div class="list-group">
    @foreach (var plug in Model.Plugins.OrderBy(a => a.Active))
    {
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">
                @plug.Name @plug.Version

                @if (plug.Active)
                {
                    <span class="tag tag-success tag-sm pull-right">Active</span>
                }
            </h4>
            <p class="list-group-item-text">@plug.Description</p>

            <div class="list-group-item-buttons">
                @if (plug.Active)
                {
                    <button class="btn btn-info btn-sm btn-setting" data-pluginid="@plug.AssemblyName"><i class="mdi mdi-14px mdi-settings"></i></button>
                    <button class="btn btn-danger btn-sm btn-disable" data-pluginid="@plug.AssemblyName">Disable</button>
                }
                else
                {
                    <button class="btn btn-success btn-sm btn-enable" data-pluginid="@plug.AssemblyName">Enable</button>
                }
            </div>
        </a>
    }
</div>


@section scripts{
    <script>
        $(".btn-setting").click(function (e) {
            document.location = "/Admin/Plugin/Settings?pluginAssembly=" + $(this).data("pluginid");
        });

        $(".btn-enable").click(function (e) {
            e.preventDefault();
            $.ajax({
                url: "/Admin/Plugin/EnabledPlugin",
                type: "POST",
                data: { pluginAssembly: $(this).data("pluginid") },
                success: function (data, textStatus, jqXHR) {
                    alert("Success, the application will now restart.");
                },
            });
        });

        $(".btn-disable").click(function (e) {
            e.preventDefault();
            $.ajax({
                url: "/Admin/Plugin/DisablePlugin",
                type: "POST",
                data: { pluginAssembly: $(this).data("pluginid") },
                success: function (data, textStatus, jqXHR) {
                    alert("Success, the application will now restart.");
                },
            });
        });

    </script>
}