@model ModCore.ViewModels.Admin.Plugin.vPluginList
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutWithMenu.cshtml";
    ViewBag.Title = "Manage Plugins";
}

<div class="list-group">
    @foreach (var plug in Model.Plugins.OrderBy(a => a.Active))
    {
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">
                @plug.Name @plug.Version

                @if (plug.Active)
                {
                    <span class="tag tag-success tag-sm pull-right">Active</span>
                }
            </h4>
            <p class="list-group-item-text">@plug.Description</p>

            <div class="list-group-item-buttons">
                @if (plug.Active)
                {
                    <btn class="btn btn-danger btn-sm btn-disable" data-pluginid="@plug.AssemblyName">Disable</btn>
                }
                else
                {
                    <btn class="btn btn-success btn-sm btn-enable" data-pluginid="@plug.AssemblyName">Enable</btn>
                }
            </div>
        </a>
    }
</div>


@section scripts{
    <script>
        $(".btn-enable").click(function (e) {
            e.preventDefault();
            $.ajax({
                url: "/Admin/Plugin/EnabledPlugin",
                type: "POST",
                data: { pluginAssembly: $(this).data("pluginid") },
                success: function (data, textStatus, jqXHR) {
                    alert("Success, the application will now restart.");
                },
            });
        });

        $(".btn-disable").click(function (e) {
            e.preventDefault();
            $.ajax({
                url: "/Admin/Plugin/DisablePlugin",
                type: "POST",
                data: { pluginAssembly: $(this).data("pluginid") },
                success: function (data, textStatus, jqXHR) {
                    alert("Success, the application will now restart.");
                },
            });
        });

    </script>
}